@font-face{
  font-family:"summernote";
  src:asset-url("summernote/summernote.eot?546c01739436985e5a21a8cb325521f3");
  src:asset-url("summernote/summernote.eot?#iefix") format("embedded-opentype"),
  asset-url("summernote/summernote.woff") format("woff"),
  asset-url("summernote/summernote.ttf") format("truetype");
  font-style:normal;
  font-weight:normal;

}
